{:lib toyokumo/gluttony
 :version "0.5.{{git/commit-count}}"
 :documents [{:file "CHANGELOG.md"
              :match "Unreleased"
              :action :append-after
              :text "\n## {{version}}"}]
 :github-actions? true}
